/*RESET CSS*/
/* YUI 3.8.1 (build 5795) Copyright 2013 Yahoo! Inc. http://yuilibrary.com/license/ */
html {
    color: #000;
    background: #FFF;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

caption, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before, q:after {
    content: '';
}

abbr, acronym {
    border: 0;
    font-variant: normal;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

input, textarea, select {
    *font-size: 100%;
}

legend {
    color: #000;
}

#yui3-css-stamp.cssreset {
    display: none;
}

/*DEFAULT STYLE MOBILE*/
html {
    background-color: #FFF;
}

body {
    margin: 0 20px;
    font-family: 'Bitter', 'Segoe WP SemiLight', sans-serif;
    font-size: 1em;
    line-height: 24px;
}

h3 {
    font-size: 1.2em;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 5px;
    color: #004E6D;
}

h4 {
    font-weight: bold;
    margin-top: 10px;
}

ul {
    list-style: square;
    margin-left: 15px;
    padding-bottom: 10px;
}

a {
    text-decoration: none;
    color: #7eb1c2;
}

    a:hover {
        color: #5b5b5b;
    }

p {
    margin-bottom: 10px;
}

nav {
    display: block;
    line-height: 36px;
    list-style: none outside none;
    font-size: 10px;
}

    nav a {
        text-decoration: none;
        text-transform: uppercase;
        color: black;
    }

        nav a:hover {
            color: #848ea1;
        }

    nav li {
        display: inline;
        padding: 5px;
        background-color: rgba(127, 155, 184,.5);
    }

        nav li + li:before {
            content: none;
            padding: 0 10px;
        }

.selected a {
    color: white;
}

.topic {
    font-style: italic;
    display: block;
    color: #55556b;
}

.caption {
    color: #5b5b5b;
    font-size: x-small;
    font-style: italic;
}

#nav-bar {
    text-align: center;
    float: left;
    width: 100%;
}

#main {
    padding-top: 5%;
}

#site-title {
    font-family: 'Codystar', 'Segoe WP SemiLight', sans-serif;
    color: #808080;
    text-align: center;
    font-size: 2em;
    font-weight: 100;
    margin-bottom: 20px;
    padding-top: 10px;
    clear: both;
}

    #site-title .lastname {
        font-weight: bold;
    }

#page-title {
    text-align: center;
    text-transform: lowercase;
    font-size: 2em;
    color: #004E6D;
}

#logo {
}

    #logo img {
        width: 100px;
    }

#content {
    margin-top: 20px;
    margin-bottom: 20px;
}

#right {
    margin-top: 20px;
    border-top: 1px solid #808080;
}

    #right li {
        padding-bottom: 10px;
    }

.centerPos {
    text-align: center;
}

    .centerPos img {
        width: 100%;
        max-width: 300px;
    }

#left .centerPos img {
    max-width: 500px;
}


#links {
    display: inline;
    text-align: center;
}

    #links a {
        font-size: 18px;
        text-decoration: none;
    }

        #links a span {
            visibility: hidden;
        }

    #links li {
        display: inline-block;
        height: 55px;
        width: 50px;
    }

        #links li:nth-child(1) {
            background: transparent url("../images/maillogo.png") no-repeat 0 0;
            background-size: 50px;
        }

        #links li:nth-child(2) {
            background: transparent url("../images/g+logo.png") no-repeat 0 0;
            background-size: 50px;
        }

        #links li:nth-child(3) {
            background: transparent url("../images/inlogo.png") no-repeat 0 0;
            background-size: 50px;
        }

#footer {
    color: #5b5b5b;
    margin-top: 10px;
    text-align: center;
    font-size: x-small;
    clear: both;
}

.dates:before {
    content: " | ";
}

#gallery {
    list-style-type: none;
    text-align: center;
    margin:0;
}

    #gallery li {
        list-style-type: none;
        display: inline-block;
        margin-right: 10px;
        margin-top: 20px;
    }

    #gallery img {
        height: 200px;
    }

/*MOBILE LANDSCAPE & TABLET PORTRAIT*/
@media (min-width:400px) and (orientation:landscape) {

    #nav-bar {
        width: 100px;
    }

    #site-title {
        position: absolute;
        top: 50px;
        left: 130px;
        font-size: 2.25em;
        padding: 0;
    }

    #page-title {
        padding-top: 10px;
        text-align: left;
        font-size: 2.5em;
        clear: both;
    }

    nav {
        padding-top: 86px;
        left: 115px;
        position: absolute;
        text-align: left;
        font-size: medium;
    }

    #logo {
        float: left;
    }

    #links {
        clear: both;
    }

    #footer {
        clear: both;
        padding-top: 10px;
        font-size: small;
    }
}

@media (min-width:700px) {
    #left {
        float: left;
        width: 65%;
        padding-right: 1%;
        border-right: 1px solid #dedede;
    }

    #right {
        border: none;
        text-align: left;
        margin: 0;
        padding-left: 1%;
        float: left;
        width: 32%;
    }

    .centerPos {
        text-align: left;
    }

    #left .centerPos {
        text-align: center;
    }

    #gallery {
        text-align: left;
    }
        
        #gallery li {
            margin-right: 30px;
        }
}

/*DESKTOP*/
@media (min-width:900px) {
    body {
        margin: 0 10px;
    }

    #main {
        margin-left: 200px;
        padding-left: 20px;
    }

    #nav-bar {
        width: 20%;
        max-width: 200px;
        margin: 0;
        height: 100%;
        float: left;
        position: fixed;
        text-align: right;
        overflow: auto;
        background-color: #d0d9e2;
    }

    #site-title {
        margin: 0;
        padding: 0;
        margin-top: -30px;
        position: static;
        font-size: 3em;
        text-align: left;
    }

    #page-title {
        margin-top: 30px;
        position: static;
        text-align: left;
        font-size: 2.5em;
    }

    nav {
        margin-left: -15px;
        margin-top: 20px;
        padding: 0;
        position: static;
        display: block;
        line-height: 40px;
        text-align: left;
    }

        nav a:hover {
            color: #FFF;
        }

        nav li {
            display: block;
            background-color: rgba(124, 136, 143,.5);
            border-bottom: 1px solid black;
            padding-left: 15%;
        }

            nav li:nth-child(1) {
                border-top: 1px solid black;
            }

            nav li + li:before {
                content: none;
                padding: 0;
            }

    .selected a {
        color: white;
        margin-left: -20px;
    }

        .selected a:before {
            content: ">";
            padding-right: 10px;
        }

    #logo {
        float: none;
        text-align: center;
    }

        #logo img {
            width: 80%;
            min-width: 100px;
        }

    #footer {
        text-align: left;
    }

    #links {
        position: absolute;
        right: 30px;
        top: 60px;
    }
}
