/*RESET CSS*/
/* YUI 3.8.1 (build 5795) Copyright 2013 Yahoo! Inc. http://yuilibrary.com/license/ */
html {
    color: #000;
    background: #FFF;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

caption, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before, q:after {
    content: '';
}

abbr, acronym {
    border: 0;
    font-variant: normal;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

input, textarea, select {
    *font-size: 100%;
}

legend {
    color: #000;
}

#yui3-css-stamp.cssreset {
    display: none;
}

@media print {
    body {
        margin: 10px 10px;
        font-family: "Segoe WP SemiLight", Verdana, Helvetica, "Lucida Grande", Arial, sans-serif;
        font-size: 1em;
        line-height: 24px;
    }

    h3 {
        font-size: 1.2em;
        text-transform: uppercase;
        margin-top: 30px;
        margin-bottom: 5px;
    }

    h4 {
        font-weight: bold;
        margin-top: 10px;
    }

    ul {
        list-style: square;
        margin-left: 15px;
    }

    a {
        text-decoration: none;
        color: #000;
    }

    #nav-bar {
        margin: 0;
        padding: 0;
        width: 0;
        height: 0;
        visibility: collapse;
    }

    #main {
        padding-top: 5%;
        margin: 0;
        padding-left: 20px;
        float: left;
        border-left: 2px solid #aaaaaa;
    }


    #site-title {
        text-transform: lowercase;
        font-weight: bold;
        left: 150px;
        margin: 0;
        padding: 0;
        position: static;
        font-size: 3em;
        text-align: left;
    }

    .lastname {
        margin-left: 15px;
    }

    .dates:before {
        content: " | ";
    }

    #page-title {
        margin: 0;
        margin-top: 20px;
        padding: 0;
        position: static;
        text-align: left;
        font-size: 2em;
        clear: both;
    }

    #content {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .centerPos {
        text-align: left;
    }

    #left .centerPos {
        text-align: center;
    }

    .centerPos img {
        width: 100%;
        max-width: 300px;
    }

    #left .centerPos img {
        max-width: 500px;
    }


    #links {
        text-align: center;
        position: absolute;
        right: 5%;
        top: 2%;
        display: block;
    }

        #links li {
            display: block;
        }

            #links li a {
                display: none;
            }

            #links li:nth-child(1):after {
                content: "Email: eklu@hawk.iit.edu";
            }

            #links li:nth-child(2):after {
                content: "Google+:  http://gplus.to/eklu";
            }

            #links li:nth-child(3):after {
                content: "LinkedIn: http://lnkdin.me/eklu";
            }

            #links li + li:before {
                content: " ";
            }

    #footer {
        margin-top: 10px;
        text-align: left;
        font-size: medium;
        clear: both;
    }

        #footer img {
            visibility: hidden;
        }

    .topic {
        font-style: italic;
        display: block;
    }

    .caption {
        font-size: x-small;
        font-style: italic;
    }
}
